<header class="p-3 text-white">
    <div>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                <img class="logo" src="../../../assets/images/potatoes.png" alt="potatoes">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li>
                <a routerLinkActive="active" routerLink="/welcome" [routerLinkActiveOptions]="{exact:true}"
                   class="sidebar-list-link">Welcome</a>
              </li>
              <li> <a routerLinkActive="active" routerLink="/about" [routerLinkActiveOptions]="{exact:true}"
                      class="sidebar-list-link">About</a></li>
            </ul>
            <div class="text-end">
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
                <li><span href="#" class="nav-link px-2 link-secondary text-white">Hi {{user}}</span></li>
                <li><a href="/login" class="nav-link px-2 text-white">Log Out</a></li>
                <li>
                  <a href="#" class="d-block text-decoration-none">
                    <img src="../../../assets/users/user.jpeg" alt="mdo" width="32" height="32" class="rounded-circle">
                  </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
</header>
