<div class="login-container">
    <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1">
        <div class="card login-card-container">
            <div class="card-block text-xs-center">
                <div class="logo-img">
                    <img alt="logo" src="../../../assets/images/potatoes.png">
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class=" text-xs-left">
                    <div class="form-group">
                        <label for="email">Your Potato Email</label>
                        <input formControlName="email" class="form-control checking-field" type="email" id="email">
                        <span class="help-block text-danger"
                              *ngIf="form.get('email').touched && form.get('email').hasError('required')">Email is
                            required</span>
                        <span class="help-block text-danger"
                              *ngIf="form.get('email').touched && form.get('email').hasError('invalidEmail')">Invalid
                            email address</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input formControlName="password" class="form-control checking-field" type="password" id="password">
                        <span class="help-block text-danger"
                              *ngIf="form.get('password').touched && form.get('password').hasError('required')">Password
                            is required</span>
                        <span class="help-block text-danger"
                              *ngIf="form.get('password').touched && form.get('password').hasError('minlength')">Password
                            isn't long enough, minimum of 6 characters</span>
                    </div>
                    <div class="form-group">
                        <button [disabled]="!form.valid" class="btn btn-main btn-block" type="submit">Login</button>
                    </div>
                    <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                </form>
            </div>
        </div>
    </div>
</div>
